.preloader{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.container {

}

.row{
  display: flex;
  column-gap: 10px;
}

.columnLeft{
  flex: 1 1 65%;
}

.columnRight{
  flex: 1 1 35%;

}

.content{
  max-width: 100%;
}