@import "./../../index";

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;

}

.mainContainer {
//  width: 100%;
  overflow: hidden;
  max-width: $maxWidthContainer + px;
  padding: 0px 15px;
  margin: 0 auto;
  @media (max-width: $mobile) {
    padding: 0px;
  }
}

.body {
  display: grid;
  grid-template-rows: [top] auto [main-top] auto [main-bottom] 1fr [bottom] auto;
  grid-template-columns: 65% 35%;
  grid-template-areas:
              "profile about"
              "posts about"
              "posts followers"
              "posts followers";

  @media (max-width: $mobile) {
    grid-template-columns: 100%;
    grid-template-areas:
            "profile"
            "about"
            "posts"
            "followers";
  }
}


