.container{
  background-color: darkgoldenrod;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list{
  overflow: auto;
}

.title{
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}