@import './../../../../index';

.item {
  padding: 10px 10px 10px 20px;
  background-color: $lightTurquoiseColor;
  border-radius: 10px;
  border: 3px solid $lightTurquoiseColor;
  color: black;
  letter-spacing: 1.3px;
  transition: all 0.2s ease 0s;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover {
    transition: all 0.1s ease 0s;
    //transform: scale(1.01);
    border: 3px solid $darkTurquoiseColor;
  }

  position: relative;
  &:after {

    transition: all 0.3s ease 0s;
    position: absolute;
    content: "";
    filter: $darkTurquoiseFilter;
    top: 50%;
    height: 30px;
    width: 30px;
    right: 15px;
    background: url(./../../../../files/images/icons/message-square-lines-svgrepo-com.svg) center no-repeat;
    background-size: contain;
    opacity: 0;
    transform: translate(15px, -50%) scale(0);

  }
}

.activeItem {
  &:after{
    opacity: 1;
    transform: translate(0px, -50%) scale(1);
  }
}

.link {
  min-width: 200px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.avatar {
  flex: 0 0 50px;
  position: relative;
  //padding-bottom: 50%;
  height: 50px;
  overflow: hidden;
  border-radius: 5px;


  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.name {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: inherit;
}