@import './../../../index';

.body {
  background-color: $turquoiseColor;
  grid-area: followers;
  align-self: start;
  @media (max-width: $mobile) {
  display: none;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  background-color: $lightTurquoiseColor;
  padding: 10px;
  @media (max-width: $tablet) {
    row-gap: 10px;
    justify-content: center;
  }
}

.title {
  padding-right: 10px;
}

.showAll {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: $darkTurquoiseColor;
  color: white;
  border: 2px solid $darkTurquoiseColor;

  &:hover {
    transition: all 0.2s ease 0s;
    background-color: $turquoiseColor;
    border: 2px solid $darkTurquoiseColor;
  }

  &:active {
    transform: translate(1px, -1px);
  }
}

.body {

}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  column-gap: 30px;
  row-gap: 20px;
  padding: 10px;
}

.item {

}

.itemBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: $lightTurquoiseColor;
  border-radius: 10px;
}

.itemAvatar {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  height: 80px;
  width: 80px;
  margin-bottom: 10px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}


.button {
  margin-bottom: 15px;
  padding: 5px 30px 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: $lightTurquoiseColor;
  color: $brownColor;
  font-weight: 600;
  border: 1px solid #5c3d46;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease 0s;

  &:after {
    position: absolute;
    content: "";
    filter: $brownFilter;
    height: 20px;
    width: 20px;
    right: 5px;
    background-size: contain;
  }

  &:hover {
    &:after {
      filter: $brownFilter;
      transform: scale(1.1);
    }
  }

  &:active {
    &:after {
      transform: scale(0.9) rotate(15deg) translate(1px, -1px);
    }
  }
}

.buttonUnFollow {
  &:after {
    background: url(./../../../files/images/icons/unfollow-svgrepo-com.svg) center no-repeat;
    background-size: contain;
  }
}

.buttonFollow {
  &:after {
    background: url(./../../../files/images/icons/add-user-svgrepo-com.svg) center no-repeat;
    background-size: contain;
  }
}


.buttonMessage {
  padding: 5px 30px 5px 10px;
  border-radius: 5px;
  border: 1px solid $brownColor;
  background-color: $brownColor;
  color: white;
  text-align: center;

  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease 0s;

  &:after {
    position: absolute;
    content: "";
    filter: $whiteFilter;
    height: 24px;
    width: 24px;
    right: 5px;
    background: url(./../../../files/images/icons/send-2-svgrepo-com.svg) center no-repeat;
    background-size: contain;
  }

  &:hover {
    border: 1px solid $brownColor;
    background-color: $lightTurquoiseColor;
    color: $brownColor;

    &:after {
      filter: $brownFilter;
      transform: scale(1.1);
    }
  }

  &:active {
    &:after {
      transform: scale(0.9) rotate(15deg) translate(1px, -1px);
    }
  }
}
