@import "./../../index";

.header {
  position: relative;
  //z-index: 200;
  flex: 0 0 70px;
  background-color: $turquoiseColor;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  align-items: center;
  //column-gap: 30px;
  font-size: 20px;
  color: white;
  padding: 5px 0px;

}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  font-weight: 500;
  letter-spacing: 1.3px;

  &:not(:last-child) {
    border-right: 2px solid white;
  }
}

.link {
  //padding: 5px 15px;
  border-radius: 10px;
  color: inherit;
  transition: all 0.5s ease 0s;

  &:hover {
    //box-shadow: 0 5px 10px #0641ad;
  }


  &.active {
    //background-color: $lightTurquoiseColor;
    color: $darkTurquoiseColor;
    text-shadow: 0 0 15px white;
  }

}

.buttonOut {
  background-color: $lightTurquoiseColor;
  color: $brownColor;
  font-weight: 600;
  border: 1px solid #5c3d46;
  padding: 3px 5px;
  border-radius: 5px;


  letter-spacing: 1.5px;
  transition: all 0.2s ease 0s;

}