.header {
  min-width: 100%;
  flex: 0 0 70px;
  background-color: #519a83;
  display: flex;
  align-items: center;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
  font-size: 18px;
}

.item {

}

.link {
  background-color: cornflowerblue;
  padding: 5px 15px;
  border-radius: 10px;
  color: inherit;
  transition: all 0.5s ease 0s;
  &:hover{
    box-shadow: 0 0 10px #0641ad;
  }
  color: inherit;
  &.active {
    background-color: #0641ad;
    color: white;
  }

}

.buttonOut {
  color: wheat;
  padding: 5px;
  border-radius: 5px;
  background-color: #692224;
  font-size: 16px;
  letter-spacing: 1.5px;
  transition: all 0.2s ease 0s;

}