@import './../../../index';

.body {
  background-color: #91d5bf;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  height: 100%;
}


.input {
  height: 100%;
  flex: 1 1 auto;
  font-size: 18px;
  line-height: 150%;
  padding: 10px;
  resize: none;
  overflow: auto;
  letter-spacing: 1.3px;

  //Робимо скролбар невидимим
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}


.input::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.button {
  background-color: $darkTurquoiseColor;
  //flex: 0 0 100px;
  flex-grow: 0;
  flex-shrink: 0;
  @include adaptiveValue("flex-basis", 100, 80, 1);



  position: relative;
  min-height: 100%;

  &:after {
    content: "";
    filter: $whiteFilter;
    position: absolute;
    height: 44px;
    width: 44px;
    right: 2px;
    top: 2px;
    background: url(./../../../files/images/icons/send-2-svgrepo-com.svg) center no-repeat;
    background-size: contain;
    transition: all 0.3s ease 0s;
    transform: translate(-50%, 50%) scale(1);
  }

  &:active {
    &:after {
      transform: translate(-50%, 50%) scale(0.95);
    }
  }
}