
.container {
  background-color: #519a83;
  margin-bottom: 20px;
}

.banner {
  position: relative;
  width: 100%;
  padding-bottom: 33%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  display: flex;
  align-items: start;
  padding: 20px;
}

.profile {
  padding: 10px;
  display: flex;
  //flex-wrap: wrap;
  column-gap: 20px;

}

.avatar {
  position: relative;
  flex: 0 1 150px;
}

.image {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;

  img {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.info {
  flex: 1 1 auto;
}

.name {
  padding-top: 15px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 25px;
}

.button {
  flex: 0 0 120px;
  padding: 10px 20px;
  font-size: 14px;
  align-self: start;
  border-radius: 5px;
  padding-right: 30px;
}
.buttonEdit{
  position: relative;
  &:after{
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    right: 5px;
    background: url(./../../../files/images/icons/edit-svgrepo-com.svg) center no-repeat;
    background-size: contain;
  }
}
.buttonSave{
  padding: 10px 20px;
}

.custom {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 15px;
  width: 15px;
  z-index: 10;
}

.customButtonAddPhoto {
  font-size: 24px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    height: 28px;
    width: 28px;
    background: url(./../../../files/images/icons/camera-add-photo-svgrepo-com.svg) center no-repeat;
    background-size: contain;
  }
  &:hover{
    &:before{
      transform: scale(1.1);
    }
  }
}
