.item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 10px;
  justify-content: end;
  letter-spacing: 1.2px;



}

.avatar {
  align-self: flex-start;
  flex: 0 0 50px;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 5px;


  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text {
  flex: 1 1 auto;
  align-self: flex-end;
  padding: 10px;
  background-color: rgba(157, 168, 165, 0.61);
  border-radius: 10px 0px 10px 10px;
  font-size: 18px;
  line-height: 150%;
  text-align: left;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}