.container {


}
.postContainer{
  background-color: lightgoldenrodyellow;
  padding: 10px;
}
.title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.list {

}

.item {
  background-color: aquamarine;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}

.text {

}
.likes{

}