.wrapper{
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content{
  background-color: #316996;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 0px 15px 0px 15px;
}
