@import './../../../../index';
.body {
  background-color: $darkTurquoiseColor;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  padding: 5px;
  margin-bottom: 15px;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  flex: 0 0 50px;
  height: 50px;
  border: 2px solid $lightTurquoiseColor;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.input {
  flex: 1 1 auto;
  height: 70px;
  font-size: 16px;
  padding: 10px;
  resize: none;
  border-radius: 10px;
  overflow: hidden;
  color: $brownColor;
  letter-spacing: 1.3px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: $lightTurquoiseColor;
  color: $brownColor;
  font-weight: 600;
  border: 1px solid #5c3d46;
  transition: all 0.2s ease 0s;
  &:active{
    background-color: $brownColor;
    color: $lightTurquoiseColor;
  }
  @media (max-width: $mobileSmall) {
    flex: 0 0 100%;
  }
}